*{
  font-family: 'Jua', sans-serif;
}

body{
background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}

h1, h2, h4, b, label{
  color:white;
}

.custom{
  margin-bottom:25px;
}

.mCard {
  display: inline-block;
  margin: 0.3rem 0.5rem;
  background: #CCCC00;
  padding: 0.5rem;
}

.sCard {
  display: inline-block;
  margin: 0.3rem 0.5rem;
  background: #008000;
  padding: 0.5rem;
}

.tCard {
  display: inline-block;
  margin: 0.3rem 0.5rem;
  background: #ce328e;
  padding: 0.5rem;
}
